<div></div>

<main>
  <H1> Pruebas de Front-End </H1>


  <!----------------------P R U E B A A 3 S E G U N D O F R O N T E N D ------------------------>
  <article style="margin: 5rem;">
    <section class="container" style="
        border-color: black;
        border-style: groove;
        background-color: lightblue;
      ">
      <h2 style="font-style: italic; font-weight: 700">Prueba Segundo Front-End A3</h2>

      <div>
        <div class="col-sm-3">
          <div class="card" style="width: 18rem; margin: 1rem 0rem">
            <div class="card-body">
              <h2> Arreglo A</h2>
              <form>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero1A" [(ngModel)]="numero1A" type="number" class="form-control operator1" name="numero1A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero2A" [(ngModel)]="numero2A" type="number" class="form-control operator1" name="numero2A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero3A" [(ngModel)]="numero3A" type="number" class="form-control operator1" name="numero3A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero4A" [(ngModel)]="numero4A" type="number" class="form-control operator1" name="numero4A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero5A" [(ngModel)]="numero5A" type="number" class="form-control operator1" name="numero5A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero6A" [(ngModel)]="numero6A" type="number" class="form-control operator1" name="numero6A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero7A" [(ngModel)]="numero7A" type="number" class="form-control operator1" name="numero7A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero8A" [(ngModel)]="numero8A" type="number" class="form-control operator1" name="numero8A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero9A" [(ngModel)]="numero9A" type="number" class="form-control operator1" name="numero9A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero10A" [(ngModel)]="numero10A" type="number" class="form-control operator1" name="numero10A"
                    placeholder="0.0" />
                </div>

                <!--------------------------------------------- Arreglo B------------------------------------------------------------>
                <!--------------------------------------------- Arreglo B------------------------------------------------------------>
                <!--------------------------------------------- Arreglo B------------------------------------------------------------>

                <div style="margin: 4rem;">

                </div>
                <h2> Arreglo B</h2>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero1B" [(ngModel)]="numero1B" type="number" class="form-control operator1" name="numero1A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero2A" [(ngModel)]="numero2B" type="number" class="form-control operator1" name="numero2A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero3A" [(ngModel)]="numero3B" type="number" class="form-control operator1" name="numero3A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero4A" [(ngModel)]="numero4B" type="number" class="form-control operator1" name="numero4A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero5A" [(ngModel)]="numero5B" type="number" class="form-control operator1" name="numero5A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero6A" [(ngModel)]="numero6B" type="number" class="form-control operator1" name="numero6A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero7A" [(ngModel)]="numero7B" type="number" class="form-control operator1" name="numero7A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero8A" [(ngModel)]="numero8B" type="number" class="form-control operator1" name="numero8A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero9A" [(ngModel)]="numero9B" type="number" class="form-control operator1" name="numero9A"
                    placeholder="0.0" />
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero10A" [(ngModel)]="numero10B" type="number" class="form-control operator1" name="numero10A"
                    placeholder="0.0" />
                </div>


                <h2> Proxy</h2>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                  <input id="numero1B" [(ngModel)]="Proxy" type="number" class="form-control operator1" name="numero1A"
                    placeholder="0.0" />
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 20rem; margin: 1rem 0rem">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <button type="button" class="btn btn-primary compute-button" style="
                  width: 20rem;
                  height: 6rem;
                  padding: 0;
                  margin: 5rem 2rem;
                ">
                <li class="list-group-item" (click)="ValueOfR()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 500">
                    ValueOfR
                  </p>
                </li>
              </button>

              <button type="button" class="btn btn-primary compute-button" style="
                  width: 20rem;
                  height: 6rem;
                  padding: 0;
                  margin: 5rem 2rem;
                ">
                <li class="list-group-item" (click)="ValueOfRxy()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 500">
                    ValueOfRxy
                  </p>
                </li>
              </button>

              <button type="button" class="btn btn-primary compute-button" style="
                  width: 20rem;
                  height: 6rem;
                  padding: 0;
                  margin: 5rem 2rem;
                ">
                <li class="list-group-item" (click)="ValueOfY()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 500">
                    ValueOfY
                  </p>
                </li>
              </button>

              <button type="button" class="btn btn-primary compute-button" style="
                  width: 20rem;
                  height: 6rem;
                  padding: 0;
                  margin: 5rem 2rem;
                ">
                <li class="list-group-item" (click)="ValueOfB0()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 500">
                    ValueOfB0
                  </p>
                </li>
              </button>

              <button type="button" class="btn btn-primary compute-button" style="
                  width: 20rem;
                  height: 6rem;
                  padding: 0;
                  margin: 5rem 2rem;
                ">
                <li class="list-group-item" (click)="ValueOfB1()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 500">
                    ValueOfB1
                  </p>
                </li>
              </button>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <section style="margin: 5rem 2rem; ">
          <div class="card text-center">
            <div class="card-header">Resultado Valor R</div>
            <div class="card-body">
              <span class="result">{{ TextValueR }}</span>
            </div>
          </div>
        </section>

        <section style="margin: 8rem 2rem;">
          <div class="card text-center">
            <div class="card-header">Resultado Valor Rxy</div>
            <div class="card-body">
              <span class="result">{{ TextValueRxy }}</span>
            </div>
          </div>
        </section>

        <section style="margin: 8rem 2rem;">
          <div class="card text-center">
            <div class="card-header">Resultado Valor Y</div>
            <div class="card-body">
              <span class="result">{{ TextValueY }}</span>
            </div>
          </div>
        </section>

        <section style="margin: 8rem 2rem;">
          <div class="card text-center">
            <div class="card-header">Resultado Valor B0</div>
            <div class="card-body">
              <span class="result">{{ TextValueB0 }}</span>
            </div>
          </div>
        </section>

        <section >
          <div class="card text-center">
            <div class="card-header">Resultado Valor B1</div>
            <div class="card-body">
              <span class="result">{{ TextValueB1 }}</span>
            </div>
          </div>
        </section>


      </div>
    </section>
  </article>

  <!------------------------- F I N D E P R U E B A -------------------------------------- -->

</main>
